@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 >EVENTOS TEC</h1>
    <p class="lead" align="center">¡BIENVENIDO!</p>
    <p class="lead">AQUÍ PODRÁ ENCONTRAR INFORMACIÓN ACERCA DE LOS PRÓXIMOS EVENTOS EN EL INSTITUTO TECNOLÓGICO DE TIJUANA</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿QUIÉNES SOMOS?</h2>
        <p>
            EVENTOS TEC, ES UNA PÁGINA EN LA CUAL PODRÁS ENCONTRAR INFORMACIÓN ACERCA DE LOS PRÓXIMOS EVENTOS QUE SE ESTARÁN
            LLEVANDO A CABO EN EL PLANTEL.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">VER MÁS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MISIÓN</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">VER MÁS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VISIÓN</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">VER MÁS &raquo;</a></p>
    </div>
</div>